header {
    width: 100%;
}

.logo {
    display: flex; /* Utiliser Flexbox */
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
    position: relative; /* Pour pouvoir positionner la flèche */
    width: 100%;
    text-align: center;
}

.img_flache-gauche {
    position: absolute;
    left: 0; /* Aligner la flèche à gauche */
}

.img-logo {
    margin: 0 auto; /* Centrer le logo */
}
.location {
    background-color: #EAEAEA;
    width: 100%;
    height: 63px;
    border-top: 2px solid #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.location h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px; /* Corriger la propriété font-size */
    color: #353535;
    margin: 0; /* Supprimer les marges par défaut */
}
.title-solgan {
    width: 235px;
    height: 68px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title-slogan h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px; /* Corriger la propriété font-size */
    color: #000000;
    margin: 0; /* Supprimer les marges par défaut */
}
.sub-title-solgan {
    width: 315px;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sub-title-solgan h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300; /* Modifiez le poids de la police */
    font-size: 18px; /* Gardez la taille de la police */
    color: #000000;
    margin: 0; /* Supprimer les marges par défaut */
}
.btn-resto {
    width: 218px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  
}
.btn-resto img {
    width: 218px;
    height: 50px;
}
.btn-search-list { 
    background-color:  #F6F6F6; 
    width: 80%;
    height: 49px;
    border-radius: 15px;
    text-align: center;
    margin-top : 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: left; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    box-shadow: 0px 4px 15px 0px #00000026;

}
.btn-search-list h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}
.btn-search-list img {
    width: 18px;
    height: 18px;
    margin-left: 15px; 
    margin-right: 15px;
}


.restaurants {
    background-color:  #F6F6F6; 
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; /* Alignement en colonnes */
    align-items: center; /* Alignement au centre horizontal */
}

.restaurants-title {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: flex-start; /* Alignement du contenu à gauche */
    margin-left: 10px; /* Marge à gauche */
    margin-bottom: 30px;
    text-align: left; /* Alignement du texte à gauche */
}

.restaurants-title h2 {
    margin: 0; /* Supprime les marges par défaut */
    font-family: "Roboto", sans-serif; /* Ajoutez la famille de polices */
    font-weight: 700; /* Ajoutez le poids de la police */
    font-size: 24px; /* Ajoutez la taille de la police */
    color: #000000; /* Ajoutez la couleur du texte */
}

.restaurants-cards {
    display: flex;
    flex-direction: column; /* Alignement en colonnes */
    align-items: center; /* Alignement au centre horizontal */
    width: 100%;
}


.restaurants-cards img {
    object-fit: cover; 
    width: 100%; /* Utilise la largeur maximale disponible */
    height: 300px; /* Hauteur maximale pour éviter la déformation */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.card-content {
  
    margin-top:-10px;
    padding-left: 10px;
    padding-right: 10px;
  }

.card-subtitle {
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.card-rating {
    font-size: 18px;
    margin-bottom: 5px;
}

.fiter-title {
    display: flex;

   
}
.pied-de-page {
    background-color: #353535;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pied-de-page h3 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
 
}

.logo-pied-de-page {
    display: flex;
    justify-content: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    
}

.propos-restaurant, .devenir-partenaire, .mentions-legales, .contact {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -25px; /* Optionnel : ajoutez un espace entre les éléments */
    margin-left: 15px;
}

.propos-restaurant img, .devenir-partenaire img {
    margin-right: 10px; /* Optionnel : ajoutez un espace entre l'icône et le texte */
}
.resto-menu { 
    width: 100%;
    height: auto;
 
   
}

.resto-menu .img-resto {
    border-radius: 0;

}

.resto-menu h2 {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* ou ajustez en fonction de votre mise en page */
    border-radius: 25px 25px 0 0;
    background-color: #F6F6F6;
   margin-top: -60px;
}

.menu-title h1 {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    margin-top: 25px; /* Pour éviter tout espacement indésirable */
    margin-left: 15px;
}

.resto-menu .coeur-menu {
    height: auto; /* Taille par défaut de l'image */
    width: auto; /* Taille par défaut de l'image */
    margin-right: 100px;
}
.entree-menu,
.plat-menu,
.dessert-menu {
    width: 100%;
    height: auto;

    background-color: #F6F6F6;
    text-align: left; /* Ajouté pour aligner le contenu à gauche */
}



.title-entrees h2,
.title-plats h2,
.title-desserts h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
}

.card-entree-menu,
.card-plat-menu,
.card-dessert-menu {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-left: 15px;
}

.card-entree-menu .title-entree-menu,
.card-plat-menu .title-plat-menu,
.card-dessert-menu .title-dessert-menu {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
   
}

.card-entree-menu .sub-title-entree-menu,
.card-plat-menu .sub-title-plat-menu,
.card-dessert-menu .sub-title-dessert-menu {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
}

.button-commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:25px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.button-commander button {
    color: white;
    width: 186px;
    height: 50px;
    top: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-commander button a {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

